.slider-containe-anuncio {
    width: 600px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slide-anuncio {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide-anuncio.active {
    opacity: 1;
}

.slide-anuncio img {
    width: 100%;
    height: 45px;
}

.anuncio{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}